<div class="row">
    <div class="large-12 columns">
        <h1>Listing lists</h1>
    </div>
</div>

<% @lists.each_slice(4) do |lists| %>
    <div class="row">
        <% lists.each do |list| %>
            <div class="large-3 columns end">
                <div class="list-container">
                    <%= render partial: 'list', locals: {list: list} %>
                </div>
            </div>
        <% end %>
    </div>
<% end %>



<%= link_to 'New List', new_list_path %>
