<div class="large-12 columns">
        <h4><%= list.title %></h4>
    </div>

    <div class="row collapse">
        <div class="small-10 columns">
            <input type="text" value="Test1" />
        </div>
        <div class="small-2 columns">
            <a href="#" class="button postfix">N</a>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-10 columns">
            <input type="text" value="Test2" />
        </div>
        <div class="small-2 columns">
            <a href="#" class="button postfix">N</a>
        </div>
    </div>
    <div class="row collapse">
        <div class="small-10 columns">
            <input type="text" value="Test3" />
        </div>
        <div class="small-2 columns">
            <a href="#" class="button postfix">N</a>
        </div>
    </div>

    <% list.list_items.each do |list_item| %>

            <%= form_for(list_item) do |f| %>
            <div class="row collapse">
                <div class="small-10 columns">
                    <%= f.text_field :label %>
                </div>
                <div class="small-2 columns">
                    <a href="#" class="button postfix"><%= list_item.checked ? 'Y' : 'N' %></a>
                </div>
            </div>
            <% end %>

    <% end %>

    <div class="row collapse">
        <div class="small-10 columns">
            <input type="text" placeholder="Hex Value">
        </div>
        <div class="small-2 columns">
            <a href="#" class="button postfix">+</a>
        </div>
    </div>
