<div class="row">
    <div class="large-8 large-centered columns text-center">
        <h2>What should you fuck today?</h2>
    </div>
</div>
<div class="row">
    <div class="large-4 large-centered columns">
        <%= render partial: 'list', locals: {list: @list} %>
    </div>
</div>
