<div class="video-container">
    <video width="100%" autoplay muted loop>
        <source src="/assets/big_buck_bunny.mp4" type="video/mp4">
        <source src="/assets/big_buck_bunny.webm" type="video/webm">
    </video>
</div>
